doctype html
html(lang="en")
	head
		title Demo Grunt Project
		link(href="assets/css/main.min.css" rel="stylesheet" media="screen")
		// script(type="text/javascript" src="assets/js/main.min.js")
	body
		.container
			
			// Template tag for markdown content
			.content <%=content%>

			// Loop for JSON pictures
			each post, index in blog_posts
				a.post(href="blog-posts/#{post.filename}.html")
					img(src="#{post.source}")
					h2 #{index}
					p #{post.description}